{
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "Gumshoe": "writable",
    "SmoothScroll": "writable",
    "stickybits": "writable",
    "Modernizr": "writable",
    "svg4everybody": "writable"
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"]
}
