.btn {
  display: inline-block;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  border-radius: 5px;
  color: $darken-gray;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 10px 12px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue;
  }


  &--block {
    display: block;
  }

  &--pill {
    border-radius: 100px;
  }

  &--with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    .btn__icon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
    }
  }

  &--blue {
    background-color: $blue;
    box-shadow: 0 24px 40px rgba(0, 69, 255, 0.2), 0 8px 16px rgba(0, 69, 255, 0.15);
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      box-shadow: none;
    }
  }

  &--blue-gradient {
    color: $white;
    background-size: 200% auto;
    background-image: linear-gradient(to right, $light-blue  0%, $lighten-blue 50%, $blue 100%);
    box-shadow: 0 24px 40px rgba(0, 69, 255, 0.2), 0 8px 16px rgba(0, 69, 255, 0.15);
    transition: 0.4s ease-in-out;

    &:hover,
    &:focus {
      color: $white;
      background-position: right center;
      box-shadow: none;
    }
  }
}