.card {
  border-radius: 15px;
  background-color: $white;
  box-shadow: 0 24px 40px rgba($dark-gray, 0.25);

  &--unshadow {
    box-shadow: none;
  }

  &__body {
    padding: 30px;

    @media (max-width: $xs-max-width) {
      padding: 20px;
    }
  }
}
