.list {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;

  @media (max-width: $xs-max-width) {
    column-count: 1;
  }

  &--column-1 {
    column-count: 1;
  }

  &__item {
    margin-bottom: 8px;

    &--blue-dash {
      position: relative;
      padding-left: 20px;

      &::before {
        content: '—';
        position: absolute;
        left: 0;
        color: $light-blue;
      }
    }

    .badge {
      white-space: initial;
    }
  }
}
