.nav {
  border-radius: 15px 15px 30px 30px;
  background-color: $light-blue;
  box-shadow: 0 12px 20px rgba($blue, 0.2), 0 4px 8px rgba($blue, 0.15);
  transition: border-radius 0.2s, background-color 0.2s;

  @media (max-width: $xs-max-width) {
    position: fixed !important;
    z-index: 10;
    display: flex;
    border-radius: 0;
    box-shadow: none;
    top: 0;
    height: 100%;
    width: 100%;
    right: 0;
    left: 100%;
    background-color: transparent;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: auto;
    transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out;
    will-change: left, background-color;
  }

  &__toggle {
    display: none;
    position: fixed;
    z-index: 15;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    background-color: $light-blue;
    background-image: linear-gradient(to right, $light-blue 0%, $light-blue 100%);
    border-radius: 50%;
    border: none;
    box-shadow: 0 24px 40px rgba($light-blue, 0.2), 0 8px 16px rgba($light-blue, 0.15);

    @media (max-width: $xs-max-width) {
      display: block;
    }
  }

  &__toggle-text {
    @include visually-hidden();
  }

  &__toggle-lines {
    position: absolute;
    top: 20px;
    left: 15px;
    height: 2px;
    width: 14px;
    background-color: $white;
    transition: all 0.2s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: $white;
      width: 18px;
      left: -4px;
      transition: all 0.2s ease-in-out;
    }

    &::before {
      top: -6px;
    }

    &::after {
      bottom: -6px;
    }
  }

  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;

    @media (max-width: $xs-max-width) {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 125px;
      padding: 15px;
      overflow: hidden;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      -webkit-overflow-scrolling: touch;
    }
  }

  &__link {
    color: rgba($white, 0.7);
    text-decoration: none;
    font-size: 17px;
    transition: color 0.1s ease-in;

    &:hover,
    &:focus {
      color: $white;
    }

    @media (max-width: $xs-max-width) {
      font-size: 24px;
      color: rgba($darken-gray, 0.6);

      &:hover,
      &:focus {
        color: $darken-gray;
      }
    }
  }

  &__item {
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }

    @media (max-width: $xs-max-width) {
      margin-right: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      transform: scale(1.15) translateY(-30px);
      opacity: 0;
      will-change: opacity, transform;
    }

    &--active {
      .nav__link {
        color: $white;

        @media (max-width: $xs-max-width) {
          color: $darken-gray;
        }
      }
    }
  }

  &--open {
    pointer-events: all;
    left: 0;
    background-color: $white;
    transition: left 0.4s ease-in-out, background-color 0.4s ease-in-out;

    .nav__toggle {
      box-shadow: 0 0 0 1px rgba($light-blue, 0.5);
      background-color: $white;
      background-image: none;
    }

    .nav__toggle-lines {
      background-color: transparent;

      &::before,
      &::after {
        background-color: $light-blue;
      }

      &::before {
        transform: rotate(45deg) translate(5px, 4px);
      }

      &::after {
        transform: rotate(-45deg) translate(4px, -4px);
      }
    }

    .nav__list {
      visibility: visible;
    }

    .nav__item {
      transform: scale(1) translateY(0);
      opacity: 1;
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
        opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: #{0.15 + (0.05 * $i)}s;
        }
      }
    }
  }
}
