.nav {
  border-radius: 15px 15px 30px 30px;
  background-color: $light-blue;
  box-shadow: 0 12px 20px rgba($blue, 0.2), 0 4px 8px rgba($blue, 0.15);
  transition: border-radius 0.2s, background-color 0.2s;

  &--sticky {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: rgba($light-blue, 0.9);
  }

  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0;
  }

  &__item {
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      .nav__link {
        color: $white;
      }
    }
  }

  &__link {
    color: rgba($white, 0.7);
    text-decoration: none;
    font-size: 17px;
    transition: color 0.1s ease-in;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}