.page {
  background-color: $gray;
  background-image: url('/images/svg/triangles-top.svg'),
  url('/images/svg/triangles-bottom.svg');
  background-position: left top,
  right bottom;
  background-repeat: no-repeat;
  padding-top: 160px;
  min-height: 100%;

  &__layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  &__sidebar {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    width: 280px;
    margin-right: 30px;
  }

  &__nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 14px;
    color: $dark-gray;
  }
}