.portfolio {
  &__items {
    margin-bottom: -20px;

    @media (max-width: $md-max-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-right: -30px;
    }

    @media (max-width: $sm-max-width) {
      flex-direction: column;
      margin-right: 0;
    }
  }

  &__item-wrapper {
    margin-bottom: 20px;

    @media (max-width: $md-max-width) {
      margin-right: 30px;
    }

    @media (max-width: $sm-max-width) {
      margin-right: 0;
    }
  }

  &__item {
    min-height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @media (max-width: $md-max-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item-presentation {
    margin-right: 30px;

    @media (max-width: $md-max-width) {
      margin-right: 0;
    }
  }

  &__item-title {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  &__item-description {
    font-size: 14px;
  }

  &__item-control {
    font-size: 14px;
    margin-right: 10px;
    margin-top: 12px;
  }

  &__item-screen {
    max-width: 300px;
    width: 100%;
    flex-shrink: 0;
    border: 1px solid rgba(230, 230, 230, 0.7);
    border-top: 24px solid rgba(230, 230, 230, 1);
    box-shadow: 0 2px 10px 0 rgba($dark-gray, 0.1);
    border-radius: 3px;
    position: relative;

    &::before {
      display: block;
      position: absolute;
      content: '';
      top: -14px;
      left: 16px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $red;
      box-shadow: 0 0 0 2px $red, 14px 0 0 2px $green, 28px 0 0 2px $yellow;
    }

    img {
      vertical-align: top;
      max-width: 100%;
      height: auto;
    }

    @media (max-width: $lg-max-width) {
      max-width: 250px;
    }

    @media (max-width: $md-max-width) {
      max-width: 300px;
      order: -1;
      margin-bottom: 20px;
    }

    @media (max-width: $xs-max-width) {
      max-width: 100%;
    }
  }
}