.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  align-items: flex-start;
  justify-content: center;

  &__item {
    flex-shrink: 0;
  }

  &__link {
    display: block;
    line-height: 1;
  }

  &__text {
    @include visually-hidden();
  }

  &__icon {
    width: 27px;
    height: 26px;
    padding: 5px;
  }
}