.title {
  margin: 0;
  position: relative;

  &--hidden {
    @include visually-hidden();
  }

  &--h1 {
    font-size: 32px;
    padding-bottom: 13px;
    margin-bottom: 20px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 4px;
      background-color: $blue;
    }

    @media (max-width: $xs-max-width) {
      font-size: 28px;
      padding-bottom: 10px;
      margin-bottom: 18px;
    }
  }

  &--h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &--h3 {
    font-size: 14px;
  }

  &--with-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .title__icon {
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }
  }
}