// Colors
$white: #fff;
$black: #000;
$light-gray: #f8fafb;
$gray: #f0f0f6;
$dark-gray: #8697a8;
$darken-gray: #44566c;

$lighten-blue: #3fa0ff;
$light-blue: #0081ff;
$blue: #0045ff;

$body-min-width: 320px;

// Typography
$font-family-base: 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;