@import 'vendors';
@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-style: normal;
  color: $darken-gray;
  overflow-x: hidden;
  min-width: $body-min-width;
}

a {
  color: $darken-gray;

  &:hover,
  &:focus {
    color: $blue;
  }
}

p {
  margin-top: 0;
}

html.no-scroll {
  overflow: hidden;
}

body.no-scroll {
  overflow: visible;
}

:focus {
  outline-color: rgb(229, 151, 0);
}

@import '_blocks/blocks';
